.pagecolor {
	background-color: #7C8F94;
}

.head {
	height:200px; 
	width:40%;
	background-color:#00CC7A;
	margin-left: auto; 
	margin-right:auto;
	position: relative;
	opacity: 0.8;
}
h2 {
	padding-top: 150px;
	padding-left: 10px;
	color: white;
}
.menu{
	width:37%; 
	height:50px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: -5px;
	margin-top: -5px;
	background-color: #31406B;
	color: white;
	list-style-type: none;

}
.menu li {
	float: right;
	vertical-align: middle;
	margin-right: 15px;
	font-variant: small-caps;
	font-size: 12px;
	padding-top: 20px;
}
.mainbody {
	height: 100%;
	width:40%;
	padding-top: 10px;
	margin-right: auto; 
	margin-left:auto;
	background-color: #FfFFFF;
	opacity: 0.7;
}
.mainbody h3 {
	color: black;
	padding-top: 20px;
	padding-left: 20px;
}
.mainbody p {
	font-size: 13px;
	margin-left: 7%; 
	margin-right: 5%;
	padding-top: 15px;
}
.orangetext {
	color: orange;
}
h5 {
	color:black;
	padding-left: 5px;
	padding-bottom:10px;
	border-bottom: gray solid;
	border-bottom-width: thin;
	margin-right:5%;
	margin-left:2%;
}
.sectiontitle {
	margin-top: -25px;
}
table{
	margin-left:auto;
	margin-right:auto;
}
.table {
 	border: thin solid black;	 	
}
.tablehead {
	background-color: lightgray;
}
button {
	background-color: #2385E8;
	color: white;
	box-shadow: none;
}
.examplebox {
	background-color: lightgray;
	height: 30% ;
	width:80%;
	padding: 5%;
	margin-right: auto;
	margin-left: auto;
}
.numlist {
	font-size: 12px;
	padding-right: 30px;
	padding-top: 5px;
}
.author{
	color: #A7B4B8;
	text-align: left;
}